# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
DEFAULT_EMAIL=""
DEFAULT_PASSWORD=""
# Standalone runs only one textbook (ID is <domain>), normal runs normally.
MODE="<domain>|normal"