# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
DEFAULT_EMAIL=""
DEFAULT_PASSWORD=""
# Standalone runs only one textbook (UUID is <uuid>), normal runs normally.
MODE="<uuid>|normal"
MAIL_CLIENT_ID=""
MAIL_CLIENT_SECRET=""
MAIL_REFRESH_TOKEN=""
MAIL_SOURCE_ADDRESS="idylliceggs@gmail.com"
CAPTCHA_SECRET_KEY = ""