node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Paraglide
src/lib/paraglide
project.inlang/cache
project.inlang/project_id

# Drizzle
drizzle/meta

# SQLite
*.db

.cloudflare/

*.*~
*.swp
*.tmp
*.log
*.~*

# Documentation
documentation/*.pdf
documentation/*.aux
documentation/*.bit
documentation/*.blg
documentation/*.bbl
documentation/*.lof
documentation/*.log
documentation/*.lot
documentation/*.glo
documentation/*.glx
documentation/*.gxg
documentation/*.gxs
documentation/*.idx
documentation/*.ilg
documentation/*.ind
documentation/*.out
documentation/*.url
documentation/*.svn
documentation/*.toc
documentation/*.run.xml
documentation/*.gz
documentation/*.bcf
documentation/*.grp