@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Finlandica:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-finland: 'Finlandica', sans-serif;
	--font-inter: 'Inter', sans-serif;
	--font-anon: 'Anonymous Pro', monospace;
}

@layer base {
	:root {
		@apply font-inter font-light wrap-break-word text-white max-lg:text-lg;
	}
}

/* Scrollbar */
:root {
	overflow: scroll;
	scrollbar-color: var(--color-emerald-500) rgba(0, 0, 0, 0);
	scrollbar-width: auto;
}

@layer components {
	h2 {
		@apply text-2xl font-medium;
	}
	h3 {
		@apply text-xl font-medium;
	}
	h4 {
		@apply text-lg font-medium;
	}
	textarea {
		@apply overflow-hidden rounded-lg border-0 border-b-2! border-white bg-black/30 outline-0 outline-white placeholder:text-white focus:outline-1;
	}
	button {
		@apply flex flex-row items-center justify-center gap-1 rounded-lg p-3 font-medium hover:brightness-80 active:brightness-60;
	}
	.button-none {
		@apply p-0! gap-1;
	}
	.button-primary {
		@apply bg-linear-to-tr from-violet-700 to-emerald-500 text-white!;
	}
	.button-violet {
		@apply bg-violet-700 text-white!;
	}
	.button-green {
		@apply bg-emerald-500 text-white!;
	}
	.button-transparent {
		@apply bg-transparent font-light;
	}

	.input-text {
		@apply w-full rounded-lg border-2 border-emerald-500 bg-black/20 text-violet-700 placeholder:font-light! placeholder:text-violet-700/50;
	}
	.input-checkbox {
		@apply appearance-auto rounded-lg bg-white! text-violet-700 accent-violet-700 outline-0 hover:brightness-80;
	}

	@media print {
		body {
			@apply bg-white! bg-none! text-black! **:border-black! **:bg-white! **:bg-none! **:text-black!;
		}
		#contentarea {
			width: 100%;
		}
	}

	.input-text-resin {
		@apply rounded-lg border-2 text-violet-700 placeholder:font-light! placeholder:text-violet-700/50;
	}
}