@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Finlandica:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-finland: 'Finlandica', sans-serif;
	--font-inter: 'Inter', sans-serif;
	--font-anon: 'Anonymous Pro', monospace;
	--font-lexend: 'Lexend', sans-serif;
	--font-tasa: 'TASA Orbiter', sans-serif;
}

@layer base {
	:root {
		@apply font-lexend font-light wrap-break-word text-white! max-xl:text-lg;
	}
}

/* Scrollbar */
:root {
	scrollbar-color: var(--color-cyan-600) rgba(0, 0, 0, 0);
	scrollbar-width: auto;
}

@layer components {
	h1 {
		@apply text-4xl font-medium;
	}
	h2 {
		@apply text-2xl font-medium;
	}
	h3 {
		@apply text-xl font-medium;
	}
	h4 {
		@apply text-lg font-medium;
	}
	/* .button == button */
	button,
	.button {
		@apply flex flex-row items-center justify-center gap-1 rounded-lg p-2 font-medium transition-all duration-200 hover:brightness-80 active:brightness-60 disabled:brightness-60;
	}
	.button-none {
		@apply gap-1 p-0! font-light! hover:brightness-100! active:brightness-100!;
	}
	/* no paragraph setup */
	.button-none-p {
		@apply gap-1 font-light! hover:brightness-100! active:brightness-100!;
	}
	.button-blue {
		@apply bg-blue-900 text-white! shadow-lg;
	}
	.button-cyan {
		@apply bg-cyan-600 text-white! shadow-lg;
	}
	.button-white {
		@apply bg-white text-blue-900 shadow-lg;
	}
	.button-transparent {
		@apply bg-transparent;
	}
	.button-red {
		@apply bg-linear-to-tr from-red-900 to-red-700 text-white! shadow-lg;
	}

	.input-text {
		@apply min-w-0 rounded-lg border-0! bg-neutral-700/40 text-white backdrop-blur-xl placeholder:font-light! placeholder:text-white placeholder:opacity-80 backdrop:blur-2xl;
	}
	.input-checkbox {
		@apply appearance-auto rounded-lg bg-white! text-blue-900 accent-blue-900 outline-0 hover:brightness-80;
	}
	.input-color {
		@apply rounded-lg border-2 border-white outline-offset-2 outline-white active:outline-2;
	}
	input {
		@apply min-w-0;
	}

	/* TODO range element styles */

	@media print {
		body {
			@apply bg-white! bg-none! text-black! **:border-black! **:bg-white! **:bg-none! **:text-black!;
		}
		#contentarea {
			width: 100%;
		}
	}

	.input-text-resin {
		@apply rounded-lg border-2 text-blue-900 placeholder:font-light! placeholder:text-blue-900/50;
	}

	a {
		@apply transition-all duration-200;
	}
	a:hover {
		@apply underline decoration-dotted decoration-1;
	}

	nav#loggedOutNavbar a {
		@apply text-cyan-600 decoration-cyan-600;
	}

	nav#loggedOutNavbar a:hover {
		@apply text-blue-900 decoration-blue-900;
	}

	nav#loggedInNavbar a {
		@apply text-white decoration-white;
	}
	nav#loggedInNavbar a:hover {
		@apply text-cyan-600 decoration-cyan-600;
	}

	.standardModal {
		@apply h-fit border-2 border-neutral-500 bg-neutral-500/70 shadow-2xl backdrop-blur-xl;
	}

	.markdownText {
		@apply flex w-full grow flex-col gap-2;
	}

	.markdownText ul {
		@apply list-inside list-disc;
	}
	.markdownText ol {
		@apply list-inside list-decimal;
	}
}
