# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Unit tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Vitest @ ${{ github.ref_name }}"

    steps:
      - uses: actions/checkout@v4
      - name: "Use Node.js 22"
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"        
      - name: "Run unit tests"
        run: |
          npm ci
          npm run test